<config verbose="yes" prio_levels="2">
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Rtc"/>
		<service name="Nic"/>
		<service name="Report"/>
	</parent-provides>
	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>
	<default caps="100"/>
	<start name="report_rom">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="yes">
			<policy label_suffix="set_rtc" report="chrony_daemon -> set_rtc"/>
		</config>
	</start>
        <!-- XXX unneeded because goa's RTC?
	<start name="rtc" ld="no">
		<resource name="RAM" quantum="1M"/>
		<binary name="linux_rtc"/>
		<config verbose="yes" allow_setting_rtc="yes" />
		<provides> <service name="Rtc"/> </provides>
		<route>
			<service name="Timer"> <child name="timer"/> </service>
			<service name="ROM" label="set_rtc"> <child name="report_rom"/> </service>
			<any-service> <parent /> </any-service>
		</route>
	</start>
        -->
	<start name="system_rtc">
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Rtc"/></provides>
		<config verbose="yes" allow_setting_rtc="true"/>
		<route>
			<service name="ROM" label="set_rtc"> <child name="report_rom" /></service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
	<start name="chrony_daemon" caps="320" priority="-1">
		<binary name="chronyd"/>
		<resource name="RAM" quantum="64M"/>
		<config ld_verbose="yes" verbose="yes">
			<env key="GNUTLS_DEBUG_LEVEL" value="10" />
			<arg value="chronyd"/>
			<arg value="-d"/>
			<arg value="-d"/>
			<arg value="-4"/>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" socket="/socket" pipe="/pipe" rng="/dev/random" />
			<vfs>
				<dir name="dev">
					<log/>
					<jitterentropy name="random"/>
					<jitterentropy name="urandom"/>
					<rtc/>
					<null/>
				</dir>
				<dir name="socket">
					<lxip dhcp="yes"/>
				</dir>
				<dir name="pipe"> <pipe/> </dir>
				<dir name="etc">
					<rom name="chrony.conf" />
					<!-- see note on top to update certificate -->
					<rom name="cert_lets_encrypt.crt" />
				</dir>
				<dir name="var">
					<dir name="run">
						<dir name="chrony">
							<inline name="chronyd.pid" />
							<inline name="chronyd.sock" />
							<inline name="drift" />
						</dir>
					</dir>
					<dir name="log">
						<inline name="tracking.log" />
					</dir>
				</dir>
			</vfs>
		</config>
		<route>
			<service name="Rtc"> <child name="system_rtc"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
